<plugin name='mandrill' version='0.5' grailsVersion='2.1 &gt; *'>
  <author>Damien Pacaud</author>
  <authorEmail>damien.pacaud@gmail.com</authorEmail>
  <title>Grails Mandrill Plugin</title>
  <description>		This is a simple wrapper for the Mandrill REST API (http://www.mandrillapp.com) 
</description>
  <documentation>https://github.com/dpacaud/mandrill</documentation>
  <type>MandrillGrailsPlugin</type>
  <resources>
    <resource>org.grails.mandrill.HttpWrapperService</resource>
    <resource>org.grails.mandrill.MandrillService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.codehaus.groovy.modules.http-builder' name='http-builder' version='0.5.2' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>